<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Dezvoltare Aplicații ManolovSky</title>
        <meta name="keywords" content="ManolovSky, aplicații mobile, cumpără aplicații, dezvoltare aplicații, app development, android, ios, web, programare">
        <meta name="description" content="Crează-ți propria aplicație pentru a crește vizibilitatea companiei tale. ManolovSky te ajută să realizezi o nouă aplicație sau să-ți transformi website-ul într-o aplicație pentru mobil.">
        <script>
            window.addEventListener("DOMContentLoaded", function(){
    document.getElementById("tema").onclick= function(){
        if(document.body.classList.contains("dark")){
            document.body.classList.remove("dark")
            localStorage.removeItem("tema");
        }
        else{
            document.body.classList.add("dark")
            localStorage.setItem("tema","dark");
        }
    }
});
        </script>
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body class="fixed-background" >  
    <%- include("../fragmente/header.ejs");  %> 
    <main>
        <section id="domnitori2">
            <h3>Istorie - Domnitori și Bătălii</h3>
            <blockquote cite="https://play.google.com/store/apps/details?id=com.manolovsky.domnitorii" style="text-align: start;"> Istoria Românilor - Domnitori și Bătălii este o aplicație offline de cultură generală care conține informații cu privire la peste 130 de domnitori ai celor două principate române - Țara Românească (Valahia) și Moldova, precum și aproape 150 de bătălii sau campanii militare desfășurate în secolele XIV-XVII. Prin intermediul aplicației, utilizatorul poate avea acces la scurte prezentări ale domnitorilor și principalelor momente ale unor bătălii celebre. De asemenea, aplicația oferă acces la aproape 200 de surse istorice de încredere în format PDF pentru aprofundarea cunoștințelor, fără a fi necesară o conexiune la internet. <br> Cum te ajută și la ce poți folosi această aplicație?
            <br> - ai acces la informații sintetizate despre domnitori și bătălii din perioada secolelor XIV-XVII doar în câteva secunde;
            <br> - poți aprofunda cunoștințele din sursele istorice în format PDF ce reprezintă fragmente din cărți scrise de autori cunoscuți precum A.D. Xenopol, Constantin C. Giurescu, Florin Constantiniu, Neagu Djuvara;
            <br> - este utilă pentru școală sau teme;
            <br> - te ajută să înveți mai repede pentru teste;
            <br> - găsești informația foarte repede cu ajutorul funcției de căutare a domnitorului dorit;
            <br> - Quiz-ul cu Domnitorul Zilei permite evaluarea cunoștințelor;
            <br> - ajută la dezvoltarea culturii generale pentru pasionații de istorie de toate vârstele.
            <br> Denumirea domnitorilor și anii de domnie pot diferi de la autor la autor în cărțile de istorie ce apar în această aplicație din cauza interpretării distincte realizate de către aceștia pe baza informațiilor adesea insuficiente și contradictorii.
            Aplicația poate fi utilă și profesorilor pentru structurarea lecțiilor sau pentru pregătirea elevilor pentru olimpiade. În versiunile următoare vor apărea informații și surse istorice despre domnitorii și bătăliile din secolele XVII - XIX, plus alte quiz-uri pentru evaluarea cunoștințelor.</blockquote>
            <a class="linkuri" target="_blank" href="https://play.google.com/store/apps/details?id=com.manolovsky.domnitorii"> Apasă
                aici pentru a descărca aplicația <em>Istorie - Domnitori și Bătălii</em></a>
        </section>
        <%- include("../fragmente/galerie.ejs");  %> 
    </main>
    <%- include("../fragmente/footer.ejs");  %> 
    </body>
</html>