<footer>
    <p id="banner">Acesta este un proiect școlar!</p>
    <a href="#" class="link-top"><div id="con"><span class="tooltiptext">Sus</span></div></a>
    <address>
        Strada Academiei, nr. 14, Sector 1, București
        <a target="_blank" href="https://maps.app.goo.gl/By3LXGaezv6jiikj7"><i
                class="fa-solid fa-location-arrow"></i>Vezi Google Maps</a>
        <br/>
        <a href="tel:+40744123456"><i class="fa-solid fa-phone-volume"></i>Telefon ManolovSky</a>
        <a href="manolovesky@gmail.com"><i class="fa-regular fa-envelope"></i>Mail ManolovSky</a>
        <a href="https://wa.me/+40744123456"><i class="fa-brands fa-whatsapp"></i>Whatsup ManolovSky</a>
        <br/>
    </address>
    <p><small>Copyright &copy;<time datetime="2024-04-10"> 10 aprilie 2024</time></small></p>
</footer>